<!doctype html>
<html ng-app='myApp'>
    <head>
        <script src="js/angular2.js"></script>
        <script src="js/angular-cookies.js"></script>
        <script src="js/index.js"></script>
        <title>angular</title>
    </head>
    <body >
        <div ng-controller='myController'>
            <h2>you are logged in as <%= username %></h2>
            <a href='/logout'>logout</a>
            <a href='/user'>edit user</a>
        </div>
        <hr>
        <%= msg %>
    </body>
</html>






























