<!doctype html>
<html >
    <head>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="js/index.js"></script>
        <title>angular</title>
    </head>
    <body >
    	<div class='form-container'>
         <p class='form-header'>sign up</p>
         <form method='post'>
         <label>username:</label>
            <input type='text' name='username'><br>
        <label>password:</label>
            <input type='password' name='password'><br>
        <label>email:</label>
            <input type='email' name='email'><br>
        <input type='submit' value='register'>
         </form>   
        </div>
        <hr><%= msg %>
    </body>
</html>
